/* You need to copy also the contents of this file to your template's html-elements.css */

img.inline {
    border: 1px solid #E2E2E2;
    padding: 2px;
}

a.image-left { 
    float: left; 
    margin: 5px 5px 5px 0; 
}

a.image-right { 
    float: right; 
    margin: 5px 0 5px 5px; 
}

img.galerii {
    
    border: 1px solid #E2E2E2;
    margin: 2px 2px 2px 2px; 
}

